@import url("./authForms.css");
@import url("./menuNav.css");
@import url("./menuContentSection.css");
@import url("./productTable.css");

.FullScreen {
  background-color: #e5e5e5;
  min-height: 100vh;
  width: 100vw;
}
