#LoginFormInputContainer {
  margin-bottom: 5vh;
}

#LoginForm,
#SignUpForm {
  max-width: 15vw;
  text-align: center;
}
#CenterRectContent {
  border: 1px solid black;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: #856a6a;
}

.TextColorBlack {
  color: black !important;
}

input.TextColorBlack {
  background-color: #e5e5e5;
}

.TextColorBlack::placeholder {
  color: black;
  background-color: #e5e5e5;
}
